.searchbox {
  width: 241px;
  height: 38px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
  padding: 6px 12px;
}
/*
.searchbox {
  font-size: 12px;
  border-color: rgb(222, 226, 230);
  border-radius: 2px;
  height: 24px;
  padding: 0 4px;
}
*/
.searchbox:focus,
.searchbox:active {
  border-color: #7952b3;
  box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}

.searchbox:disabled {
  background-color: rgb(233, 236, 239);
}

.searchButton {
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  margin-left: 10px;
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid rgb(222, 226, 230);
}

.table th {
  font-weight: 700;
}

.flag {
  width: 40px; /* Adjust the size of the flags as needed */
  height: auto;
}

.pagination {
  margin-top: 10px;
}

.pagination button {
  margin-right: 5px;
}
