
#container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Hide overflow for smooth horizontal movement */
}

#gif {
    position: absolute;
    cursor: pointer;
    top: 50%; /* Center vertically */
    left: 0; /* Initially position image to the left */
width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */

}

.giffing {
    animation: scrollDown 5s linear forwards; /* Start scrolling animation by default */
}

@keyframes scrollDown {
    0% { transform: translateY(-100%); } /* Start from above the container */
    100% { transform: translateY(100%); } /* Move to below the container */
}

@keyframes scrollUp {
    0% { transform: translateY(100%); } /* Start from below the container */
    100% { transform: translateY(-100%); } /* Move to above the container */
}

